<mat-toolbar color="primary">
  <span>Music Matcher</span>
</mat-toolbar>
<div class="container">
  <div fxLayout="row" fxLayout.xs="column">
    <div fxFlex="50%">
      
      <h3>Input Report</h3>
      <button mat-raised-button color="primary" (click)="triggerUpload()">Upload Input Report</button>
      <mat-spinner *ngIf="insertLoading"></mat-spinner>
      <input [hidden]="true" #reportReader type="file" name="Upload Input Report" accept=".csv" (change)=uploadReport($event)>
      <br><br>
      <table mat-table [dataSource]="records" class="mat-elevation-z8">
  
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
      
        <!-- Artist Column -->
        <ng-container matColumnDef="artist">
          <th mat-header-cell *matHeaderCellDef> Artist </th>
          <td mat-cell *matCellDef="let element"> {{element.artist}} </td>
        </ng-container>
      
        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
      
        <!-- ISRC Column -->
        <ng-container matColumnDef="isrc">
          <th mat-header-cell *matHeaderCellDef> ISRC </th>
          <td mat-cell *matCellDef="let element"> {{element.isrc}} </td>
        </ng-container>
  
         <!-- Duration Column -->
         <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef> Duration </th>
          <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
        </ng-container>
  
         <!-- Actions Column -->
         <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element" >
             <button mat-stroked-button color="primary" (click)="findMatchingRecords(element)">Match With Database</button>
             <button mat-stroked-button color="warn" (click)="insertRecord(element)">Insert to DB</button>
              </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
     
    </div>
    <div fxFlex="50%">
      <h3>Matching Records</h3>
  
     
     
      <mat-form-field appearance="legacy">
        <mat-label>Search Records...</mat-label>
        <input matInput placeholder="Placeholder" #searchInput [(ngModel)]="searchValue">
        <button mat-icon-button matSuffix (click)="searchItems()">
          <mat-icon>search</mat-icon>
          </button>
      </mat-form-field>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <table mat-table [dataSource]="results$|async" class="mat-elevation-z8">
  
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
      
        <!-- Artist Column -->
        <ng-container matColumnDef="artist">
          <th mat-header-cell *matHeaderCellDef> Artist </th>
          <td mat-cell *matCellDef="let element"> {{element.artist}} </td>
        </ng-container>
      
        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
      
        <!-- ISRC Column -->
        <ng-container matColumnDef="isrc">
          <th mat-header-cell *matHeaderCellDef> ISRC </th>
          <td mat-cell *matCellDef="let element"> {{element.isrc}} </td>
        </ng-container>
  
         <!-- Duration Column -->
         <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef> Duration </th>
          <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
        </ng-container>
  
         <!-- Actions Column -->
         <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element" > <button mat-stroked-button color="warn" (click)="selectRecord()">Select</button>  </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
    </div>
  </div>
</div>


